<%= calendar_date_select_includes('red') %>
<% if @course.new_record? %>
  <h1>New Course</h1>
<% else %>
  <h1>Edit: <%= @course.title %></h1>
<% end %>

<% form_tag do %>
  <div class="form-area">
    <div  id="course_form_area">
      <p class="title">
        <label for="course_title">Title</label>
        <%= text_field "course", "title", :class => 'textbox', :maxlength => 255 %>
      </p>
      
      <p class="category title row">
        <label for="course_category_id">Category</label><br />
        <%= select "course", "category_id", Category.find(:all).collect { |x| [ x.title, x.id ] }, :selected => @course.category_id %>
      </p>
      
      <p class="price title row">
        <label for="course_price">Non-Member Price</label>
        <%= text_field "course", "price", :class => 'textbox', :maxlength => 255 %>
      </p>
      
      <p class="photo row title">
        <label for="course_photo">Photo</label>
        <%= text_field "course", "photo", :class => 'textbox', :maxlength => 255 %>
      </p>

      <p class="description row">
        <label for="course_description">Description</label><br />
        <%= text_area "course", "description", :class => 'textbox', :maxlength => 255 %>
      </p>

      <p class="capacity row">
        <label for="course_capacity">Capacity</label><br />
        <%= text_field "course", "capacity", :class => 'textbox', :maxlength => 3 %>
      </p>

      <p class="start_date row">
        <label for="course_start_date">Start Date</label><br />
		<%= calendar_date_select :course, :start_date, :time => :mixed %>
      </p>

       <span class="clear">&nbsp;</span>
    </div>
  </div>

  <p class="buttons">
    <%= save_model_button(@course) %>
    or 
    <%= link_to "Cancel", {:action => :index} %>
  </p>
<% end %>
